@inject IJSRuntime ijsruntime

<div class="movies-container">
    @if (Movies == null)
    {
        @if (NullTemplate != null)
        {
            @NullTemplate
        }
        else
        {
            <img width="100px" src="https://theplaycave.com.au/wp-content/uploads/2016/10/loading.gif" />
        }
    }
    else if (Movies.Count == 0)
    {

        @if (EmptyTemplate != null)
        {
            @EmptyTemplate
        }
        else
        {
            <text>There are no records to show</text>
        }
    }
    else
    {

        @foreach (var movie in Movies)
        {
            <IndividualMovie Movie="movie" DeleteMovie="DeleteMovie" />
        }

    }
</div>

@code {

    [Parameter] public List<Movie> Movies { get; set; }
    [Parameter] public RenderFragment EmptyTemplate { get; set; }
    [Parameter] public RenderFragment NullTemplate { get; set; }


    private async Task DeleteMovie(Movie movie)
    {
        await ijsruntime.MyFunction("Custom fuction");
        var confirmed = await ijsruntime.Confirm($"Are you sure you want to delete {movie.Title}?");
        if (confirmed)
        {
            Movies.Remove(movie);
        }
    }

}
