@page "/genre/edit/{GenreId:int}"
@inject IGenreRepository genreRepo
@inject NavigationManager navManager
<h3>Edit Genre</h3>
@if (genre != null)
{
    <GenreForm Genre="genre" OnValidSubmit="Edit"></GenreForm>
}

@code {
    [Parameter] public int GenreId { get; set; }
    public Genre genre;
    protected async override Task OnInitializedAsync()
    {
        genre = await genreRepo.GetGenre(GenreId);
    }

    private async Task Edit()
    {
        await genreRepo.UpdateGenre(genre);
        navManager.NavigateTo($"genres");
    }
}
