@page "/person/edit/{PersonId:int}"
@inject IPersonRepository personRepo
<h3>Edit Person</h3>

@if (Person != null)
{
    <PersonForm Person="Person" OnValidSubmit="Edit"/>
}

@code {

    [Parameter] public int PersonID { get; set; }
    Person Person = new Person();

    protected async override Task OnInitializedAsync()
    {
        Person = await personRepo.GetPerson(PersonID);
    }

    private void Edit()
    {
        Console.WriteLine("Editing Person...");

    }
}
