@page "/"
@page "/index"
@inject IMoviesRepository moviesRepo

<div>
    <h3>In Theaters</h3>
    <MoviesList Movies="inTheaters">
    </MoviesList>
</div>

<div>
    <h3>Upcoming Releases</h3>
    <MoviesList Movies="upcomingReleases">
    </MoviesList>
</div>


@code{

    private List<Movie> inTheaters;
    private List<Movie> upcomingReleases;

    protected async override Task OnInitializedAsync()
    {
        var response = await moviesRepo.GetIndexPageDTO();
        inTheaters = response.InTheaters;
        upcomingReleases = response.UpComingReleases;
    }

}

