@page "/"
@page "/index"
@inject IRepository repo

<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies">
    </MoviesList>
</div>

@code{
    
    private List<Movie> movies;    
    protected override void OnInitialized()
    {
        movies = repo.GetMovies();
    }

}
