@page "/movies/create"
@inject NavigationManager navManager
@inject IMoviesRepository moviesRepository
@inject IGenreRepository genreRepository

<h3>Create Movie</h3>
@if (NotSelected != null) 
{ 
    <MovieForm Movie="Movie" NotSelectedGenres="NotSelected" OnValidSubmit="SaveMovie"></MovieForm>
}

@code {

    private Movie Movie = new Movie();

    private List<Genre> NotSelected;

    protected async override Task OnInitializedAsync()
    {
        NotSelected = await genreRepository.GetGenres();
    }


    private async Task SaveMovie()
    {
        // saving movie
        Console.WriteLine("Create");
        try
        {
            var movieId = await moviesRepository.CreateMovie(Movie);
            navManager.NavigateTo($"movie/{movieId}/{Movie.Title.Replace(" ", "-")}");
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
