@page "/movies/create"
@inject NavigationManager navManager
@inject IMoviesRepository moviesRepository

<h3>Create Movie</h3>

<MovieForm Movie="Movie" OnValidSubmit="SaveMovie" NotSelectedGenres="NotSelected"></MovieForm>

@code {

    private Movie Movie = new Movie();

    private List<Genre> NotSelected = new List<Genre>()
    {
        new Genre(){Id = 1, Name="Action"},
        new Genre(){Id = 2, Name="Comedy"},
        new Genre(){Id = 3, Name="Drama"},
        new Genre(){Id = 4, Name="Horror"}
    };

    private async Task SaveMovie()
    {
        // saving movie
        Console.WriteLine("Create");
        try
        {
            var movieId = await moviesRepository.CreateMovie(Movie);
            navManager.NavigateTo($"movie/{movieId}/{Movie.Title.Replace(" ", "-")}");
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
